*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
div
{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 2px solid skyblue;
    border-radius: 5px;
}
input
{
    margin: 5px 0px;
    height: 35px;
    padding: 7px;
}
button
{
    height: 35px;
    margin: 5px 0px;
    background-color: skyblue;
    border: none;
    border-radius: 5px;
}
button:hover
{
    background-color: black;
    color: skyblue;
}
img
{
    width: 1000px;
    height: 500px;

}